@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #111827;
  /* gray-900 */
  background-color: #f9fafb;
  /* gray-50 */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9fafb;
  /* gray-50 equivalent for global bg */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media print {
  @page {
    size: 2in 3in;
    margin: 0;
  }

  body {
    margin: 0;
    padding: 0;
  }

  body * {
    visibility: hidden;
  }

  #print-area,
  #print-area * {
    visibility: visible;
  }

  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 2in;
    height: 3in;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}